/********************************************
            TABLE OF CONTENTS
----------------------------------------
    0. Project details
    1. CSS Reset
    2. Global styles
    3. Elements
        -Typography
        -Spacing
        -Links
        -Buttons
        -Grid
        -Forms
        -Lists
        -Tables
        -Images
        -Helpers
    4. Components
        -Navigation
        -Icons
        -No Print
        -
    5.  Media queries
 
   
********************************************/

/********************************************
    0. Project details 
--------------------------------------------
    Author: Group 3
    Project: 644 Final Project
    Ver: 1.0
    Last Updated: 5/24/2023
********************************************/

/********************************************
    1. CSS Reset
********************************************/

*,
*::before,
*::after{
	box-sizing: 0;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ol, 
ul, 
li,
fieldset, 
form, 
label, 
legend,
table, 
tr, 
th, 
td,
dl,
dd,
input,
button,
textarea,
select {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	vertical-align: baseline;
}
/* set up the body */
body {
	line-height: 1.5;
	min-height: 100vh;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
/********************************************
    2. Global styles
********************************************/
root {
	/* ************ */
}

/********************************************
    3. Elements
********************************************/

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Helpers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/********************************************
    4. Components
********************************************/

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* No Print
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/********************************************
    5. Components
********************************************/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}